<script>
	let name = "World";
</script>

<div class="App">
	<div class="App-content">
		<img src="./img/logo.png" alt="starter svelte app" />
		<h1>Starter Svelte App</h1>
	</div>
</div>

<style>
	.App {
		text-align: center;
	}
	h1 {
		color: tomato;
	}
</style>
